*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: "IBM Plex Sans", sans-serif;
}

.container {
    width: 90%;
    max-width: 21.875rem;
    margin: 1em auto;
    background-color: #fff;
    padding: 0.5em;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5em;
}

.input-color {
    display: inline-block;
}

.color-btn {
    display: block;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: underline;
}

select {
    padding: .5em;
}

.output-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0.1em;
}

.col {
    height: 50vh;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.output-text {
    margin: 1em 0.5em 0 0;
    font-size: .7rem;
    font-weight: bold;
    padding-bottom: .5em;
    border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
    letter-spacing: 0.016rem;
}

.user-selection {
    margin: 1em 0;
}

strong {
    letter-spacing: .8px;
}

